* {
  box-sizing: border-box;
}


body {
  font-family: Poppins;
  font-size: 14px;
}

.top_box {
  border: solid #ccc 1px;
  padding:  10px;
  margin: 10px;
}

.link_box {
  margin:  5px;
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
}

.link_box:hover {
  background-color: #aaa;
}


body {
  font-family: roboto;
}
.top_box {
  border: solid #ccc 1px;
  padding:  10px;
  margin: 10px;
}

.link_box {
  margin:  5px;
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
}

.link_box:hover {
  background-color: #aaa;

}

/* .left_panel{
  border:solid red 1px;
  width:300px; 
  box-sizing: border-box;
  
} */

.mid_panel{
  border:solid blue 1px;
 
  /* width:calc(100% - 300px); */
  box-sizing: border-box;
  /* height: calc(100vh - 70px); */

}

.head_div{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: white;
  box-shadow: 0px 0px 10px 0px #ddd;
  border-bottom: solid #eee 2px;
}

.logo{
  margin-left: 30px;
  /*font-size: 30px;*/
  font-weight: 900;
  /*font-family: "Poppins", sans-serif;*/
  margin-top: 15px;
  /*line-height: 3;*/
  color: black;
  font-size: 25px;
  
  vertical-align: middle;
  margin-right: 10px;
  color: rgba(79,101,246,1)
}

.heading{
  /*font-family: "Poppins", sans-serif;*/
  /* font-size: 15px; */
  line-height: 1.7;
  /* font-weight: 600; */
  padding: 15px 10px;
  color: #333;
  /* border-radius: 2px; */
}
.heading:hover{
  cursor: pointer;
  color:#006666;
  /* font-size: 15px; */

}

.logout_div{
  /* border-bottom:solid #ccc 1px; */
   padding: 8px 10px;
   width:100px;
   color:#333; 
   font-size: 15px;
 }
 
.logout_div:hover{
  background-color:#f9f9f9;
  color:#337ab7;

}
.menu{
line-height: 1.7;
padding: 10px 22px;
color: #333;
}
  
.menu:hover{
cursor: pointer;
color:#006666; 
  /*color:white;*/
  /*background-color: #337ab7;*/
}

.below_div_of_header{
  padding:15px 50px;
  text-align: left;
  background-color: #c6d9ec;
  margin-top: -10px;
}
.main_div{
  padding:1px 50px;
  border:solid blue 1px;
}
.first_paragraph{
  font-size: 20px;
  line-height: 30px;
  /* font-family:verdana; */
  text-align: justify;

}
.second_paragraph{
  font-size: 18px;
  line-height: 25px;
}
.third_paragraph{
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 25px;
}
.second_part_of_content_div{
  /* border: solid blue 1px; */
  border-top: solid blue 1px;
  margin-top:-10px ;
}

.line_through {
  position: relative;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center; 
}
.line_through:before, .line_through:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: #ccc;

}
.line_through:before {
  margin-left: -50%;
  text-align: right;

}
.side_content_card{
  width: calc(100% - 250px);
  border:solid yellow 1px;
  box-sizing: border-box; 
  padding-left: 15px;
  text-align: justify;
}
.img_in_side_content_card_div{
  width:230px;
  border:solid  blue 1px;
  box-sizing: border-box;
}

.card{
  color: #333; 
  margin:25px; 
  border-Radius: 4px; 
  /* padding: 20px;  */
  box-shadow:0px 0px 2px rgb(0 0 0 / 25%);
  background-color: #fff;
  box-sizing: border-box;
  border:1px solid rgba(253,253,253,1)
}



.inside_div_in_card{
  color: #333; 
  margin:20px 30px; 
  border-Radius: 5px; 
  padding: 20px;
  /* box-shadow: 2px 2px 5px #888888;  */
  background-color: #fff;
  box-sizing: border-box;
  /* border:solid #eee 1px; */
  background-color:rgba(246,247,255,1)
}


.sign_out_button{
  background-color: rgba(79,101,246,1);
  border-color: rgba(79,101,246,1); 
  color:#fff;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  outline: none;
}
.sign_out_button:hover{
  box-shadow: 2px 3px 5px #bbb;
}
.profile_image{
  width:30px;
  height:30px;
  border-radius:50%;
}
.profile_name{
  font-size: 16px;
}

.left_panel{
  border:solid red 1px; 
  box-sizing: border-box;
  width:150px;
}
.right_section{
  width:calc(100% - 150px);

}

.overview_text{
  margin: 10px 30px;
  font-size: 24px;
  color: rgba(24,24,24,1);
  font-weight: 500;
  
}

.overview_element_text{
  width :70%;
  /* border:solid blue 1px; */
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 550;
  letter-spacing: 1px;
}

.overview_element_count{
  width:30%;
  /* border:solid red 1px; */
  box-sizing: border-box;
  text-align: center;
  color:rgba(79,101,246,1);
  font-size: 35px;
  font-weight: 400;
}

.vheight{
  display: grid;
  align-items: center;
  height: 80px;
}

.upcoming_session_element{
  margin: 40px 30px;
}
.upcoming_session_element_section{
  display: grid;
  align-items: center;
  height: 100px;
  /* border: solid red 1px; */
  text-align: center;
}

.font22{
  font-size: 22px;
}
.font20{
  font-size: 20px;
}
.lalign{
  text-align: left;
}
.mb5{
  margin-bottom: 5px;
}

.upcoming_session_color_div{
  background-color: rgba(232,201,209,1); 
  /* color:#fff; */
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  padding: 12px 14px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 5px;
  outline: none;
  margin: auto;
  font-size: 18px;
  width:120px
  /* height: 60px; */
}
.upcoming_session_color_div2{
  background-color: rgba(145,174,225,1);
  /* color:#fff; */
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  padding: 12px 14px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 5px;
  outline: none;
  margin: auto;
  font-size: 18px;
  width:120px
}




/* #24373e */
/* #7a98a1 */
/* #00dfcf */
/* #d9d3d2 */
/* #fcad4e */
/* #91f9f6 */
/* #24373e */

